<app-nav-bar></app-nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <h1>Hello, {{displayName}}</h1>
                <h3>Your Likes: {{ (userLikesObject | async)?.$value }}</h3>
            </div>
            <div class="panel" style="text-align: center">
                <img src="{{LOGO_URL}}" class="logo-large"/>
                <h1>Like</h1>
                <p>Like is social network where every like has value. Every day, across the world, millions of people
                    like billions of posts. Liking a post has become such a common occurrence and such a large part of
                    our culture that doing so has lost its value. When you first log into Like, you're given a limited
                    number of likes to use, so you need to really think about which posts deserve your like. Fear not,
                    however, as there is a way to get more likes. Every time someone likes one of your posts, you are
                    given more likes, so you can like more posts! Like also allows you to like posts multiple times,
                    because showing your appreciation is never a bad thing. By changing the way people treat likes, Like
                    aims to change the way people interact with one another.
                </p>
                <b>Made with ♥ by Deb Banerji</b>
            </div>
        </div>
    </div>
</div>

