<app-nav-bar></app-nav-bar>
<div class="row">
    <div class="col-xs-12">
        <div class="container-fluid">
            <div class="panel">
                <h1>Settings</h1>
            </div>
            <div class="panel">
                <h2>Your Profile</h2>
            </div>
            <div class="panel">
                <b>Email</b>
                <h3 class="user-data"> {{userEmail}}</h3>
            </div>
            <div class="panel">
                <b>Display Name</b>
                <h3 class="user-data">{{userDisplayName}}</h3>
            </div>
            <div class="panel user-photo-panel">
                <b>Display Picture</b>
                <img src="{{userPhotoURL}}" class="img-rounded img-responsive user-data user-photo">
            </div>
        </div>
    </div>
</div>
